/*
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;

  dark theme: 185, 198, 203
  light theme: 87, 109, 117
*/

html {
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: black;
  justify-content: center;
}

body, a:link, a:visited {
  color: rgb(173, 188, 194);
}

body, p {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 1rem 2rem 1rem;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.headers {
  padding: 2rem 0px 0px 0px;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0px;
}

h1, h2 {
  color: white;
}

.description {
  padding: 1rem 0px 1rem 0px;
  word-wrap: break-word;
}

.socials-icons {
  padding: 1rem 0px 0px 0px;
}

.other-links {
  padding: 0.5rem 0px 0px 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main > div > div {
  min-width: 22.5rem;
  max-width: 22.5rem;
  height: 22.5rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title-img img {
  border-radius: 50%;
  width: 100%;
}

.socials-icons img {
  width: 1.5rem;
  padding-right: 0.5rem;
}

.color-uw {
  color: #b7a57a;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 9pt;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.credit {
  margin-top: 1.25rem;
}

li {
  display: inline-block;
}

#miscellaneous {
  min-width: calc(48rem);
  max-width: calc(48rem);
}